//main colors
$white: #fff;
$bg-color: #070724;
$darkgrey: #38384F;
$lightgrey: #838391;

//accents

$accentblue: #419EBB;
$accentyellow: #EDA249;
$accentpurple: #6f2ed6;
$accentred-orange: #D14C32;
$accentred: #D83A34;
$accentorange: #CD5120;
$accentcyan: #1ec2a4;
$accentdarkblue: #2d68f0;
$accentorange: #ECAD7A;
$accentLightYellow: #FCCB6B;

//img sizes

$small: 6.9375rem;